/* CSS MODULAR */

@import "./css/normalize.css";
@import "./css/reset.css";

@import "./css/color.css";
@import "./css/tipografia.css";
@import "./css/grid.css";
@import "./css/layout.css";
@import "./css/mediaquery.css";

body{
    height: auto;
}
header{
    height: 15vh;
}
.menu{

    /* creo plantilla grid */
    display: grid;
    /* genero columnas laterales y central */
    grid-template-columns: 15vw 70vw 15vw;


}
.menu__izquierda{
    /* genero palntilla flex */
    display: flex;
    /* le doy valor de fila */
    flex-direction: row;
    /* centro los valores */
    justify-content: center;

}
ul{
    display:flex;
    justify-content: space-around;
}
.menu__derecha{
    /* genero palntilla flex */
    display: flex;
    /* centro los valores */
    justify-content: center;

}
.logo{
    width: 25%;
    height: 25%;
}
button{
    padding: 10px;
}