/* CSS MODULAR */

@import "./css/normalize.css";
@import "./css/reset.css";

@import "./css/color.css";
@import "./css/tipografia.css";
@import "./css/grid.css";
@import "./css/layout.css";
@import "./css/mediaquery.css";


/* HEADER GENERAL */

body{
    height: auto;
}

header{
    height: 157px;
    background-color: #58FFCD;
}

.menu{
    height: 100%;
    /* creo plantilla grid */
    display: grid;
    /* genero columnas laterales y central */
    grid-template-columns: 10vw 70vw 20vw;


}

.logo{
    width:97px;
    height: 91px;
}

.menu__central{
    height: 100%;
    /* genero palntilla flex */
    display: flex;
    /* le doy valor de fila */
    flex-direction: row;
    /* centro los valores */
    justify-content: center;
    gap: 26%;
}
ul{
    display:flex;
    justify-content: space-between;
    gap: 10rem;
}

li{
    align-items: center;
}

.menu__derecha{
    display: flex;
    justify-content: center;
}

a{
    padding:15px;
    text-decoration: none;
    color: black;
}
button{
    padding: 10px 30px;
}

/* INICIO SESION */

.pantalla_inicioSesion{
    width: 816px;
    height: 623px;
    display: grid;
    grid-template-columns: 3;
    background-color: #C6B6B6;
}

form{
    grid-column: 2/3;
    
}
